@font-face {
   font-family: 'Brownhill Script';
   font-display: swap;
   src: url('file:///C:/Users/KathePrc/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-25_170637/fonts/Brownhill%20Script/font.ttf');
}
