/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  #particles-js, .principal {
    display: none;
  }

  html {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .navbar-brand {
    display: inline-block;
    color: black;
    padding: 7px;
    background: linear-gradient(159deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline #cba7ff wavy;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("assets/mobilebg.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mobile-items-view{
    height: fit-content;
    margin-top: 50px;
    justify-content: center;
    display: flex;
  }

  /* glowing hover card made by: csozi | Website: english.csozi.hu*/

.card {
    position: absolute;
    width: 190px;
    height: 254px;
    background: rgb(255, 0, 179);
    background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgba(0,212,255,1) 100%);
    transition: 0.3s ease;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
  }
  
  .card::after {
    content: '';
    background-color: #181818;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 28px;
  }
  
  .mobile-items-view img {
    position: absolute;
    z-index: 2;
    margin: 20px;
    height: auto;
    width: 150px;
    border-radius: 20%;

  }

  .mobile-items-view p{
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: 225px;
    font-family: Poppins;
    font-size: 12px;
  }

  .card-social {
    display: flex;
    height: 70px;
    width: 300px;
    margin-top: 300px;
    justify-content: center;
  }
  
  .card-social svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .card-social .social-link2,.card-social .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card-social svg {
    transform: scale(1);
  }


  .card-social .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
  }
  
  .card-social .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }

  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #particles-js {
    display: initial;
  }

  header, .mobile-items-view {
    display: none;
    visibility: hidden;
  }

  html {
    width: 100%;
    height: 100%;
    display: flex;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  canvas {
    display: flex;
  }

  /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-image: url("assets/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  .js-count-particles {
    font-size: 1.1em;
  }

  #stats,
  .count-particles {
    margin-top: 5px;
    margin-left: 5px;
  }

  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }

  .count-particles {
    border-radius: 0 0 3px 3px;
  }

  .principal {
    width: 100%;
    height: 100%;
    translate: 0;
    display: flex;
  }

  .buttons {
    height: 100%;
    width: 100px;
  }

  .buttons-left {
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0%;
    gap: 100px;
    flex-direction: column;
  }

  .buttons-right {
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 790%;
    gap: 100px;
    flex-direction: column;
  }

  button {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition: all 0.3s;
  }

  .btn-about-me,
  .btn-superpowers {
    translate: 50px 0;
  }

  .btn-education {
    translate: 10px 0;
  }

  .btn-projects,
  .btn-contact {
    translate: -50px 0;
  }

  .btn-social {
    translate: -10px 0;
  }

  .ui-btn {
    --btn-default-bg: #010314;
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: 0.3s;
    --btn-letter-spacing: 0.1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #7241ff;
    --default-btn-color: #fff;
    --font-size: 12px;
    --font-weight: 600;
    --font-family: "Poppins", sans-serif;
  }

  /* button settings 👆 */

  .ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    border-radius: 50%;
    border: 2px solid #2a2b3a;
    background: var(--btn-default-bg);
    box-shadow: 0px 0px 10px 0px rgba(119, 68, 255, 0.7);
    border: 2px solid #7241ff;
  }

  .ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }

  .ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }

  .ui-btn:hover,
  .ui-btn:focus {
    background: var(--btn-default-bg);
    box-shadow: 0px 0px 200px 0px rgba(119, 68, 255, 0.7);
    border: 2px solid #7241ff;
  }

  .ui-btn:hover span,
  .ui-btn:focus span {
    color: var(--hover-btn-color);
  }

  .ui-btn:hover span::before,
  .ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }

  @keyframes chitchat {
    0% {
      content: "#";
    }

    5% {
      content: ".";
    }

    10% {
      content: "^{";
    }

    15% {
      content: "-!";
    }

    20% {
      content: "#$_";
    }

    25% {
      content: "№:0";
    }

    30% {
      content: "#{+.";}35%{content: "@}-?";
    }

    40% {
      content: "?{4@%";
    }

    45% {
      content: "=.,^!";
    }

    50% {
      content: "?2@%";
    }

    55% {
      content: "\;1}]";
    }

    60% {
      content: "?{%:%";
      right: 0;
    }

    65% {
      content: "|{f[4";
      right: 0;
    }

    70% {
      content: "{4%0%";
      right: 0;
    }

    75% {
      content: "'1_0<";
      right: 0;
    }

    80% {
      content: "{0%";
      right: 0;
    }

    85% {
      content: "]>'";
      right: 0;
    }

    90% {
      content: "4";
      right: 0;
    }

    100% {
      content: "";
      right: 0;
    }
  }

  .container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 120%;
  }

  .container::before,
  .container::after {
    background-color: #fab5704c;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }

  .container::after {
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }

  .container .box {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
    border-radius: 40px;
  }

  .container .box img {
    border-radius: 40px;
    height: 400px;
    width: 300px;
  }

  .container .box {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }

  .container .box #userTitle {
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .container .box .title {
    font-variant: small-caps;
    letter-spacing: 6px;
    word-spacing: 1.6px;
  }

  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }
}
