@font-face {
   font-family: 'aAdistro';
   font-display: swap;
   src: url('aAdistro/font.ttf');
}
@font-face {
   font-family: 'Brownhill Script';
   font-display: swap;
   src: url('Brownhill Script/font.ttf');
}
